* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: blue;
    display: flex;
}

.col-4 {
    width: 33.33%;
}

#large h1{
    font-size: 48px;
}

#large p{
    font-size: 18px;
}

@media only screen and (min-width:300px) and (max-width:768px){
    body {
        background-color: green;
        display: flex;
        flex-wrap: wrap;
    }

    #medium h1{
        font-size: 38px;
    }

    #medium p{
        font-size: 15px;
    }


    .col-s-3 {
        width: 25%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (max-width:300px){
    body {
        background-color: red;
        display: flex;
        flex-wrap: wrap;
    }

    #small h1{
        font-size: 28px;
    }

    #small p{
        font-size: 11px;
    }

    [class*="col-"] {
        width: 100%;
    }
}